.filmCard img {
  width: 175px;
  height: 200px;
}

.filmCard {
  width: 300px;
  height: 400px;
}

.filmCard p {
  width: 300px;
  height: 100px;
}

.overlay {
  /* position: fixed; */
  overflow-y: scroll;
  inset: 0;
}
